@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main {
  width: 30vw;
}

#main>* {
  margin-bottom: 15px;
}

#text {
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


#text:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

#calculate {
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 2% 10%;
  border-radius: 3px;
  background: rgb(56,26,31);
  color: #fff;
  outline: none;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

#calculate:hover {
  box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}