@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-100-normal.woff2') format('woff2'), url('../fonts/montserrat-100-normal.woff') format('woff'), url('../fonts/montserrat-100-normal.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-300-normal.woff2') format('woff2'), url('../fonts/montserrat-300-normal.woff') format('woff'), url('../fonts/montserrat-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-700-normal.woff2') format('woff2'), url('../fonts/montserrat-700-normal.woff') format('woff'), url('../fonts/montserrat-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.light {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
}
.regular {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
}
.bold {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  color: #2a363b;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  background: url("../images/header.jpg") no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.header .menu-wrap {
  background: #fff;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 30px;
}
.header-nav__logo {
  font-size: 2.4rem;
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
}
.header-nav__logo .logo {
  color: #2a363b;
}
.header-nav__logo .logo span {
  border: 2px solid #ff847c;
  color: #ff847c;
  padding: 2px 4px;
}
.header-nav__menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
}
.header-nav__menu .menu-item {
  margin-right: 3rem;
}
.header-nav__menu .menu-item a {
  color: #2a363b;
}
.header-nav__menu .menu-item a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ff847c;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-nav__menu .menu-item a:hover {
  color: #ff847c;
}
.header-nav__menu .menu-item a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-nav__menu .menu .active a {
  color: #ff847c;
}
.header-nav__menu .menu .active a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-nav__menu .menu :last-child {
  margin-right: 0;
}
.header-content {
  display: inline-block;
  margin-top: 150px;
  margin-left: 20px;
  padding: 50px;
}
.header-content__title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 6rem;
  color: #2a363b;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
}
.header-content__subtitle {
  font-size: 1.7rem;
  color: #ff847c;
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  margin-left: 20px;
}
